/**
 * This is the primary style sheet for the 
 * 		Blue Ridge Dog Training Club WordPress theme.
 * Any customization that need to be made to this theme should
 * 		be made within this file.
 * @version 0.1
 */

.before-header {
	width: 100%;
	background-color: #9e5426;
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}

.before-header-left, 
.before-header-right {
	width: 48%;
	min-width: 300px;
	display: inline-block;
}

.before-header-right {
	text-align: right;
	float: right;
	clear: right;
}

.site-container {
	background-image: url(images/20150416_sunrise_little-mountain-lane_0003.png), -webkit-linear-gradient(180deg, #a1c0e1 0%, rgba(161, 192, 225, 0.83) 17%, rgba(255, 255, 255, 0.7) 29%, rgba(161, 192, 225, 0) 100%);
	background-image: url(images/20150416_sunrise_little-mountain-lane_0003.png), -moz-linear-gradient(180deg, #a1c0e1 0%, rgba(161, 192, 225, 0.83) 17%, rgba(255, 255, 255, 0.7) 29%, rgba(161, 192, 225, 0) 100%);
	background-image: url(images/20150416_sunrise_little-mountain-lane_0003.png), -o-linear-gradient(180deg, #a1c0e1 0%, rgba(161, 192, 225, 0.83) 17%, rgba(255, 255, 255, 0.7) 29%, rgba(161, 192, 225, 0) 100%);
	background-image: url(images/20150416_sunrise_little-mountain-lane_0003.png), linear-gradient(180deg, #a1c0e1 0%, rgba(161, 192, 225, 0.83) 17%, rgba(255, 255, 255, 0.7) 29%, rgba(161, 192, 225, 0) 100%);
	background-repeat: no-repeat, repeat;
	background-size: contain, cover;
}

h2, h4, h6 {
	color: #b06734;
	font-weight: 700;
}

h3, h5 {
	color: #222354;
	font-weight: 700;
}

h2 {
	font-size: 18px;
	font-size: 1.8rem;
}

h3 {
	font-size: 16px;
	font-size: 1.6rem;
}

h4 {
	font-size: 14px;
	font-size: 1.4rem;
}

h5 {
	font-size: 13px;
	font-size: 1.3rem;
}

h6 {
	font-size: 12px;
	font-size: 1.2rem;
}

.header-image .site-title a {
	display: block;
	width: 184px;
	height: 138px;
}

.site-inner {
	background-color: #ffffff;
	background-image: -webkit-linear-gradient(-90deg, rgba(158, 84, 38, 0.42) 0%, rgba(255, 255, 255, 0.3654) 13%, rgba(255, 255, 255, 0) 100%);
	background-image: -moz-linear-gradient(-90deg, rgba(158, 84, 38, 0.42) 0%, rgba(255, 255, 255, 0.3654) 13%, rgba(255, 255, 255, 0) 100%);
	background-image: -o-linear-gradient(-90deg, rgba(158, 84, 38, 0.42) 0%, rgba(255, 255, 255, 0.3654) 13%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(180deg, rgba(158, 84, 38, 0.42) 0%, rgba(255, 255, 255, 0.3654) 13%, rgba(255, 255, 255, 0) 100%);
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.nav-primary {
	max-width: 960px;
	margin: 0 auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.nav-primary .genesis-nav-menu {
	text-align: center;
}

.content .entry, 
.sidebar .widget {
	background: transparent;
}

.footer-widgets .widget {
	padding: 10px;
	padding: 1rem;
	text-align: center;
	margin: 0 auto;
}

.footer-widgets .menu .menu-item {
	display: inline;
}

.footer-widgets .menu .menu-item > a {
	display: inline-block;
	padding: 0 10px;
	padding: 0 1rem;
	margin: 0;
	font-size: 12px;
	font-size: 1.2rem;
	color: #ffffff;
}

.footer-widgets .widget .aligncenter {
	margin: 0 auto;
	padding: 0;
}

.home-tagline {
	font-size: 34px;
	font-size: 3.4rem;
	color: #222354;
	font-weight: 700;
	text-align: center;
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto 20px;
}

.home-main {
	padding: 20px;
	width: 100%;
	max-width: 100%;
}

.hidden {
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-indent: -999999em;
}

body .content, 
.sidebar .widget {
	padding: 20px;
	margin-bottom: 0;
}

body .content {
	padding-right: 0;
}

body.full-width-content .content {
	padding-right: 20px;
}

body .content .entry {
	padding: 0;
}

.content .entry {
	font-size: 14px;
	font-size: 1.4rem;
}

.content .entry a, 
.sidebar-primary a, 
.qtip-content a {
	color: #9e5426;
	text-decoration: underline;
}

.content .entry a:hover, 
.content .entry a:focus, 
.sidebar-primary a:hover, 
.sidebar-primary a:focus, 
.qtip-content a:hover, 
.qtip-content a:focus {
	text-decoration: none;
}

.home-features .widget, 
.sidebar-primary .widget-wrap, 
.sidebar-secondary .widget-wrap, 
.home .content .entry {
	font-size: 14px;
	font-size: 1.4rem;
	border-radius: 10px;
	border: 1px solid #000;
	background: #fff;
}

.home-features .widgettitle, 
.sidebar-primary .widgettitle, 
.sidebar-secondary .widgettitle, 
.home .content .entry-header, 
.home .content .entry > .entry-title {
	background-color: #222354;
	color: #fff;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 700;
	padding: 10px 20px;
	padding: 1rem 2rem;
	margin: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid #000;
}

.content .entry-header .entry-title {
	color: #222354;
	font-size: 34px;
	font-size: 3.4rem;
	font-weight: 700;
}

.home .content .entry-header .entry-title {
	color: #fff;
	font-size: 20px;
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

.home-features .widget-wrap > div, 
.sidebar-primary .widget-wrap > div, 
.sidebar-secondary .widget-wrap > div, 
.home .content .entry .entry-content {
	padding: 20px;
	padding: 2rem;
	background-color: transparent;
	background-image: -webkit-linear-gradient(-90deg, rgba(161, 192, 225, 0.42) 0%, rgba(161, 192, 225, 0.34859999999999997) 17%, rgba(255, 255, 255, 0.294) 29%, rgba(161, 192, 225, 0) 100%);
	background-image: -moz-linear-gradient(-90deg, rgba(161, 192, 225, 0.42) 0%, rgba(161, 192, 225, 0.34859999999999997) 17%, rgba(255, 255, 255, 0.294) 29%, rgba(161, 192, 225, 0) 100%);
	background-image: -o-linear-gradient(-90deg, rgba(161, 192, 225, 0.42) 0%, rgba(161, 192, 225, 0.34859999999999997) 17%, rgba(255, 255, 255, 0.294) 29%, rgba(161, 192, 225, 0) 100%);
	background-image: linear-gradient(180deg, rgba(161, 192, 225, 0.42) 0%, rgba(161, 192, 225, 0.34859999999999997) 17%, rgba(255, 255, 255, 0.294) 29%, rgba(161, 192, 225, 0) 100%);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.home-features .widget:first-child {
	clear: both;
	margin-left: 0;
}

.before-header > .wrap {
	padding: 5px 0;
	padding: .5rem 0;
}

.sidebar .widget_sp_image .widget-wrap {
	border: none;
}

.sidebar .widget_sp_image .widget-title {
	display: none;
}

.sidebar .widget_sp_image img {
	width: 100%;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0;
}

.before-header input {
	font-size: 12px;
	color: #505050;
	font-weight: 700;
	padding: 2px;
	max-width: 200px;
}

.widget.simple-social-icons ul li {
	margin: 0 6px 0 0 !important;
	margin: 0 .6rem 0 0 !important;
	padding: 0;
}

.site-header {
	position: relative;
	z-index: 98;
	bottom: -15px;
	margin-top: -15px;
}

@media only screen and (max-width: 960px) {
	.site-header {
		bottom: -13px;
		margin-top: -13px;
	}
	
	.site-header > .wrap {
		padding-bottom: 0;
	}
	
	.title-area {
		text-align: center;
	}
	
	.title-area .site-title > a {
		margin: 0 auto;
		float: none;
	}
	
	.before-header-left, 
	.before-header-right {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media only screen and (max-width: 800px) {
	.home-features {
		flex-direction: column;
	}
	
	.home-features .widget {
		margin: 0 0 20px 0;
		margin-bottom: 2rem;
		width: 100%;
	}
	
	.sidebar-primary .widget {
		width: 50%;
		float: left;
	}
}

@media only screen and (max-width: 768px) {
	.site-container {
		background: none;
	}
	
	.footer-widgets-1 > .widget_nav_menu {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	.before-header-left, 
	.before-header-right {
		text-align: center;
		width: 100%;
		display: block;
		padding: 5px 10px;
		margin: 0 auto;
	}
	
	.widget.simple-social-icons ul.alignleft, 
	.widget.simple-social-icons ul.alignright, 
	.widget.simple-social-icons ul.aligncenter, 
	.widget.simple-social-icons ul.alignnone {
		text-align: center;
		float: none;
		display: inline;
	}
	
	.widget.simple-social-icons ul li {
		float: none;
		display: inline-block;
		margin: 0 8px !important;
	}
	
	.sidebar-primary .widget {
		width: 100%;
		float: none;
		clear: both;
	}
}

/*@media only screen and (max-width: 480px) {
	.site-header {
		bottom: -32px;
		margin-top: -32px;
	}
}*/

.widget .log_forms .log-form-group {
	width: 35%;
	margin-right: 2%;
	text-align: left;
	display: inline-block;
}

.widget .log_forms .log-form-group:nth-child( 5 ) {
	width: 0;
	margin: 0;
}

.widget .log_forms .log-form-group:nth-child( 6 ) {
	width: 20%;
}

.widget .log_forms .log-form-group input {
	padding: 4px;
}

.widget .log_forms .log-form-group input[type="submit"] {
	padding: 8px 16px;
}